html, body {
	width: 100%;
	height: 100%;
	font-family: Segoe UI, Open Sans, sans-serif;
	overflow: hidden;
}
section {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.hidden {
	display: none;
}
#ytdom {
	width: 100%;
	height: 100%;
}
#notice {
	padding-top: 4em;
	text-align: center;
}
